<h1>Hello World!</h1>
<h2>First things first.</h2>
<p>We need to make a blog post, so, we need to <strike>add a blog resource</strike><sup>(done)</sup> or maybe a blog model first that way we can set some attributes for our blog.</p>
<p>For example, the blog will have a title and body initially.</p>

<p>When adding the resource, routes are created for crud actions.</p><p>After adding resource add corresponding <strike>controller and views.</strike><sup>(done)</sup></p>
<h2>Then..</h2>
<p>Then we will need to set up a some actions, such as, <strike>index</strike><sup>(done)</sup>, <strike>create</strike><sup>(done)</sup>, and <strike>new</strike><sup>(done)</sup>, in order to see and create blog posts.  Also need to use a form in the view that routes to the corresponding action that saves the blog post to the db.</p>

<p><strike>* add link to create a new blog post</strike><sup>(done)</sup></p>

<%= link_to 'create a blog post', new_post_path %><br>
<%= link_to 'see all blog posts', posts_path %>
